In [1]:
import pandas as pd
import numpy as np

In [5]:
s1 = pd.Series(np.arange(4), index = ['A','B','E','D'])
s1

A    0
B    1
E    2
D    3
dtype: int32

In [6]:
s2 = pd.Series(np.arange(3), index = ['A','B','C'])
s2

A    0
B    1
C    2
dtype: int32

In [7]:
s1 + s2

A    0.0
B    2.0
C    NaN
D    NaN
E    NaN
dtype: float64

In [8]:
df1 = pd.DataFrame(np.random.randn(4,5), index = ['r1','r2','r3','r4'], columns = ['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  1.200105  0.031377  0.780439 -0.653934 -0.262098
r2 -0.141012 -0.419047 -0.520027 -0.337400  1.490703
r3  0.673239 -1.688786  0.270715  0.458722  0.584930
r4 -0.606355 -0.692793  0.444834 -1.764331  0.670680

In [9]:
df2 = pd.DataFrame(np.random.randn(3,4), index = ['r1','r2','r3'], columns = ['c1','c2','c3','c4'])
df2

          c1        c2        c3        c4
r1  0.172628  0.479036 -0.565319  1.882241
r2  0.172285  0.484422 -0.051114  0.117393
r3  1.186818  0.251832  1.074693 -0.846326

In [10]:
df1 + df2

          c1        c2        c3        c4  c5
r1  1.372733  0.510413  0.215119  1.228307 NaN
r2  0.031273  0.065375 -0.571141 -0.220007 NaN
r3  1.860057 -1.436953  1.345408 -0.387604 NaN
r4       NaN       NaN       NaN       NaN NaN

In [13]:
df1.add(df2,fill_value=1000)

            c1          c2           c3          c4           c5
r1    1.372733    0.510413     0.215119    1.228307   999.737902
r2    0.031273    0.065375    -0.571141   -0.220007  1001.490703
r3    1.860057   -1.436953     1.345408   -0.387604  1000.584930
r4  999.393645  999.307207  1000.444834  998.235669  1000.670680