In [11]:
import pandas as pd
import numpy as np

In [12]:
np.random.randn(1,4).tolist()

[[0.37657155712790474,
  0.39931744258293916,
  -1.3945815262193764,
  -0.01624771175984954]]

In [16]:
s1 = pd.Series(np.random.randn(1,4).tolist()[0], index = ['A','B','C','D'])
s1

A    2.944288
B   -0.080788
C   -1.353142
D   -0.759331
dtype: float64

In [17]:
s2 = s1.reindex(['A','B','C','D','E','F','G'])
s2

A    2.944288
B   -0.080788
C   -1.353142
D   -0.759331
E         NaN
F         NaN
G         NaN
dtype: float64

In [20]:
s3 = s2.reindex(['A','B','C','D','E','F','G','H'], fill_value = 0)
s3

A    2.944288
B   -0.080788
C   -1.353142
D   -0.759331
E         NaN
F         NaN
G         NaN
H    0.000000
dtype: float64

In [21]:
df = pd.DataFrame(np.random.randn(4,4), index = ['r1','r2','r3','r4'], columns = ['c1','c2','c3','c4'])
df

          c1        c2        c3        c4
r1 -0.311344 -0.705393 -0.380143 -0.903936
r2 -0.940887 -2.222354  0.546623 -1.282633
r3  0.643391 -0.660292 -1.032235  0.243096
r4 -0.242507 -0.927672  0.015974 -1.791418

In [22]:
df.reindex(['r1','r2','r3','r4','r5'])

          c1        c2        c3        c4
r1 -0.311344 -0.705393 -0.380143 -0.903936
r2 -0.940887 -2.222354  0.546623 -1.282633
r3  0.643391 -0.660292 -1.032235  0.243096
r4 -0.242507 -0.927672  0.015974 -1.791418
r5       NaN       NaN       NaN       NaN

In [23]:
df.reindex(columns = ['c1','c2','c3','c4','c5'])

          c1        c2        c3        c4  c5
r1 -0.311344 -0.705393 -0.380143 -0.903936 NaN
r2 -0.940887 -2.222354  0.546623 -1.282633 NaN
r3  0.643391 -0.660292 -1.032235  0.243096 NaN
r4 -0.242507 -0.927672  0.015974 -1.791418 NaN