In [30]:
import pandas as pd
import numpy as np

In [31]:
s1 = pd.Series(np.arange(5), index = [1,2,3,4,5])
s1

1    0
2    1
3    2
4    3
5    4
dtype: int32

In [32]:
s1.drop(4)

1    0
2    1
3    2
5    4
dtype: int32

In [33]:
df1 = pd.DataFrame(np.random.randn(4,5), index = ['r1','r2','r3','r4'], columns = ['c1','c2','c3','c4','c5'])
df1

          c1        c2        c3        c4        c5
r1  1.972421  1.781190 -0.374955 -1.363199  1.501342
r2 -0.039264 -3.641239  1.264846 -2.648854 -0.376352
r3 -0.148203 -0.286466  0.670403  0.473149 -0.384221
r4  0.918057 -1.158711 -0.958945  1.366282 -1.628057

In [34]:
df1.drop('r1')

          c1        c2        c3        c4        c5
r2 -0.039264 -3.641239  1.264846 -2.648854 -0.376352
r3 -0.148203 -0.286466  0.670403  0.473149 -0.384221
r4  0.918057 -1.158711 -0.958945  1.366282 -1.628057

In [35]:
df1.drop('c5',axis = 1)

          c1        c2        c3        c4
r1  1.972421  1.781190 -0.374955 -1.363199
r2 -0.039264 -3.641239  1.264846 -2.648854
r3 -0.148203 -0.286466  0.670403  0.473149
r4  0.918057 -1.158711 -0.958945  1.366282

In [ ]:
# 修改后并赋值给原数据
df1.drop('c5',axis = 1, inplace = True)